{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
    {% include "navbar.html" %}
    <br><br>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src={{ product.picture.url }} class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text"><small class="text-body-secondary">    قیمت این محصول:  {{ product.price }}</small></p>
        <a href={% url "home" %} >بازگشت به صفحه قبل</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}