{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <br><br>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src={{ product.picture.url }} class="img-fluid rounded-start"= alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <center>
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text"><small class="text-body-secondary">    قیمت این محصول:  {{ product.price }}</small></p>
            <div class="row justify-content-center">
                <div class="col-md-4">تعداد</div>
                <div class="col-md-2">
            <select class="form-select form-select-sm" id="qty-card">
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="3">4</option>
               <option value="3">5</option>
            </select>
                 </div>
            </div>
            <br><br>
        <a class="btn btn-secondary" href="{% url 'home' %}">بازگشت به صفحه قبل<a/>
        <button type='button' value='{{ product.id }}' class="btn btn-secondary" id="add-cart">افزودن به سبدخرید</button>
          <br>
        </center>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<script>
//check if button press
$(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'cart_add'%}',
        data: {
     product_id: $('#add-cart').val(),
     product_qty: $('#qty-card option:selected')
     csrfmiddlewaretoken: '{{ csrf_token }}',
     action: 'post'
        },
        success: function(json){
            //console.log(json)
            document.getElementById("cart_quantity").textContent = json.qty
        },
        error: function(xhr, errmsg, err){
        }
    });
})

</script>


{% endblock %}
